doctype html
html
  head
    meta(charset="utf-8")
    link(href="/stylesheets/style.css" rel="stylesheet")
    title pmc-ref [beta]
  body
    div.header
      h1 pmc-ref [beta]

      ul.navigation
       
          li About 
          li API

    block content

